
.addresscard{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 2% 10%;
  padding: 3%;
  border-radius: 4px;
  background-color: white;
}
.add-title{
  text-align: center;
  color:green;
  font-weight: 600;
  padding-bottom:3%;
}
.verticalline {
  border-left: 2px solid green;
  min-height:40vh;
  max-height: 60vh;
}
.cod .checktitle{
  display: inline-block;
  background-color: rgba(255, 255, 255, .9);
  border: 2px solid rgba(139, 139, 139, .3);
  color: black;
  border-radius: 25px;
  white-space: nowrap;
  padding:1% 6%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  transition: all .2s;
}
.cod .checktitle::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "FontAwesome";
  font-weight: 900;
  font-size: 12px;
  padding: 2px 6px 2px 2px;
  content: "\f067";
  transition: transform .3s ease-in-out;
}
.cod input[type="checkbox"]:checked + .checktitle::before {
  content: "\f00c";
  transform: rotate(-360deg);
  transition: transform .3s ease-in-out;
}
.cod input[type="checkbox"]:checked + .checktitle {
  border: 2px solid green;
  transition: all .2s;
}
.cod input[type="checkbox"] {
  display: absolute;
}
.cod input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
.findiv{
  float: right;
  font-weight:600;
  margin-top:20%
}
